/*
 * 组件样式namespace, 请勿删除!!
 */

size($w, $h)
    width $w
    height $h

$width = 375
$root-font-size = 375 / 20
.Exercise
    width: 20rem
    .btn
        width 5rem
        height 5rem
        background-color #f66
        margin 1rem
        font-size 1.5rem
        color #fff
